main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

main h1 {
    margin-bottom: 20px;
    margin-left: 0px;
    
}

form {
    background-color: #1e1e1e;
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.login {
    margin-bottom: 5px;
}
