@font-face {
    font-family: 'OCR';
    src: url(./OCR-a___.ttf);
}

body {
    font-family: 'OCR', sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 375px;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    white-space: nowrap;
    flex-wrap: nowrap;

}

h1 {
    margin-left: 20px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo-img {
    width: auto;
    height: 40px;
}

nav menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;


}
nav menu li {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color:red;
}

@media (max-width: 600px) {
    .logo {
        display: none;
    }
}