.workout-page main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.workout-page table {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
}

.workout-page .exercise {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    justify-content: center;
}

.workout-page th, .workout-page td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    width: 50px;
}

.workout-page th {
    background-color: #222;
}

.workout-page button {
    padding: 10px;
    font-family: 'OCR';
    background-color: #5c9eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.workout-page .set-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
    width: 100%;
}

.workout-page #add-exercise-btn {
    width: 100%;
}

.workout-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-page form input {
    padding: 10px;
    border-radius: 20px;
    font-family: 'OCR';
    color: black;
    text-align: center;
}

@media (max-width: 600px) {
    .workout-page table {
        font-size: 14px;
    }

    .workout-page th, .workout-page td {
        padding: 5px;
        width: auto;
    }

    .workout-page input {
        width: 50%;
    }
}
