
.login-page  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.login-page main h1 {
    margin-bottom: 20px;
    margin-left: 0px;
    
}

.login-page .login-form {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}


.login > input {
    width: 100%;
    padding: 10px;
    background-color: #2a2a2a;
    border: 2px solid #444;
    border-radius: 5px;
    font-family: 'OCR';
    color: white;
}

.login-page button {
    padding: 10px;
    font-family: 'OCR';
    background-color: #5c9eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.login-page button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #3a3a3a;
    color: #b0b0b0;
}

@media (max-width: 600px) {
    .login-page main h1 {
        font-size: 28px;
    }
}
